.primary-col-1{
    background-color: #80C4E9;
}

.primary-col-2{
    background-color: #FFF6E9;
    color: #604CC3;
}

.secondary-col-1{
    background-color: #604CC3;
    color: whitesmoke;
}

button.secondary-col-1:disabled {
    background-color: #6955ce;
    cursor: not-allowed; 
    border-color: #6955ce;
}

button.secondary-col-1:hover {
    background-color: #422fa3; 
    border-color: #422fa3;
}

button.secondary-col-1:active {
    background-color: #372591; 
    border-color: #372591;
}

.secondary-col-2{
    background-color: #FF7F3E;
}

button.secondary-col-2:disabled{
    background-color: #fa8c55;
    border-color: #fa8c55;
}

button.secondary-col-2:hover {
    background-color: #f76d28;
    border-color: #f76d28;
}

button.secondary-col-2:active {
    background-color: #e96524;
    border-color: #e96524;
}


body{
    background-color:rgb(244, 247, 250);
}