body{
    background-color: white;
}

.test-subject {
    padding: 1vh;
    padding-inline: 2vh;
    width: max-content;
    border-radius: 20px;
    margin-left: 1vh;
}

.highlight-on-hover:hover{
    cursor: pointer;
    font-weight: bold;
}

@media (min-width: 768px) {
    .mt-md-neg-2 {
        margin-top: -2rem;
    }

    .restrict-ht-md{
        height: 69vh;
        overflow: auto;
    }
}

@media (max-width: 768px) {
    .restrict-ht-sm {
        max-height: 56vh;
        overflow: auto;
    }

    .restrict-ht-md {
        height: max-content;
    }

}