<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    {% block ext_links %}{% endblock %}

    <link rel="stylesheet" type="text/css" href="../static/style/style_base.css">
    {% block css %}{% endblock %}
    <link rel="apple-touch-icon" sizes="180x180" href="../static/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/images/favicon-16x16.png">
    <link rel="manifest" href="../static/images/site.webmanifest">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

</head>

<body>
<div class="shadow-sm sticky-top" id="nav-bar">
    <nav class="navbar bg-light">
        <div style=" margin-right: 1vh;">
            {% block menu_btn %}{% endblock %}
        </div>
        
        <div style = "width: 20vh; margin-right: 5.5%;">
            <a class="navbar-brand" href="/">
                <img src="../static/images/PrepPilot name with logo.png" width="140vh">
            </a>
        </div>
        <div class="d-none d-lg-block">
            {% block nav_content %}{% endblock %}
        </div>
        <div class="ms-auto d-flex align-items-center me-2 justify-content-end">
            <span id="nav-username" class="navbar-text fs-5 d-none d-xl-block" style="color: black; font-weight: bold;">
                Username
            </span>
        </div>
        <img class="shadow-sm dropdown-toggle" id="navbarAvatar" src="../static/images/placeholder_avatar.png" data-bs-toggle="dropdown" aria-expanded="false" style="cursor: pointer;">
        <div class="p-3 shadow dropdown-menu dropdown-menu-end" id="user-profile" style="width: 90%; max-width: 50vh;">
            <div class="d-flex align-items-center">
                <div id="avatarContainer" class="position-relative">
                    <img id="avatar" src="../static/images/placeholder_avatar.png" alt="User Avatar">
                    <button id="changeAvatarBtn">
                        <i class="bi bi-camera-fill"></i>
                    </button>
                    <input type="file" id="avatarInput" style="display: none;" accept="image/*">
                </div>
                <div class="ms-3" style="width: 100%; word-break: break-all;">
                    <p id="profile-username" class="mb-1 fs-4">Username</p>
                    <p id="profile-email" class="mb-0 text-muted fs-6">user@example.com</p>
                </div>
            </div>
            <button class="btn secondary-col-1 mt-3 fs-6 w-100" id="logoutBtn"><i
                    class="bi bi-box-arrow-right"></i>&nbsp;&nbsp;Logout</li></button>

        </div>
        
    </nav>
    </div>
    

    {% block main %}{% endblock %}

    <!-- Toast messages for when page loads -->
    {% with messages = get_flashed_messages(with_categories = true) %}
        {% if messages %}
            <div class="toast-container position-fixed bottom-0 end-0 p-3">
                {% for category, message in messages %}
                    {% if category == "error" %}
                        <div id="toast-message" class="toast align-items-center text-bg-danger border-0 shadow mb-2 page-load-toast-message-container" role="alert"
                            aria-live="assertive" aria-atomic="true">
                    {% elif category == "warning" %}
                        <div id="toast-message" class="toast align-items-center text-bg-warning border-0 shadow mb-2 page-load-toast-message-container" role="alert"
                            aria-live="assertive" aria-atomic="true">
                    {% elif category == "success" %}
                        <div id="toast-message" class="toast align-items-center text-bg-success border-0 shadow mb-2 page-load-toast-message-container" role="alert"
                            aria-live="assertive" aria-atomic="true">
                    {% else %}
                        <div id="toast-message" class="toast align-items-center text-bg-primary border-0 shadow mb-2 page-load-toast-message-container" role="alert"
                            aria-live="assertive" aria-atomic="true">
                    {% endif %}
                        <div class="d-flex">
                            <div class="toast-body" id="toast-body">
                                {{ message }}
                            </div>
                            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
                                aria-label="Close"></button>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    <!-- Toast messages on page load - End -->

    <!-- Toast message without page load -->
            <div class="toast-container position-fixed bottom-0 end-0 p-3" id="dynamic-toast-container">
                <div class="toast align-items-center text-bg-primary border-0 shadow d-none" role="alert"
                    aria-live="assertive" aria-atomic="true" id="dynamic-toast-message">
                    <div class="d-flex">
                        <div class="toast-body" id="dynamic-toast-message-body">
                            <!-- Message -->
                        </div>
                        <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
                            aria-label="Close"></button>
                    </div>
                </div>
            </div>
    <!-- Toast message without page load - End -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
    <script src="../static/javascript/base.js"> </script>
    {% block js %}{% endblock %}
</body>

</html>