<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Register</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" type = "text/css" href = "../static/style/style_base.css">
    <link rel="stylesheet" type = "text/css" href = "../static/style/style_register_and_login.css">
    
    <link rel="apple-touch-icon" sizes="180x180" href="../static/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/images/favicon-16x16.png">
    <link rel="manifest" href="../static/images/site.webmanifest">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

</head>
  <body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <script>
        function validateAndSubmitForm() {
            event.preventDefault();

            const submit_btn = document.getElementById('submit');
        
            const uname_inp = document.getElementById('username');
            const email_inp = document.getElementById('email');
            const passwd_inp = document.getElementById('password');
            const confirm_passwd_inp = document.getElementById('confirm_password');

            const uname = uname_inp.value.trim();
            const email = email_inp.value.trim();
            const passwd = passwd_inp.value.trim();
            const confirm_passwd = confirm_passwd_inp.value.trim();

            const min_passwd_len = 6;
            const min_uname_len = 3;
            const max_uname_len = 30;

            is_valid = true;

            submit_btn.disabled = true;
            submit_btn.textContent = "Submitting..."

    
            if (uname.length < min_uname_len || uname.length > max_uname_len) {
                uname_inp.classList.add("is-invalid")
                document.getElementById('invalid-username-feedback').innerHTML = "Must be " + min_uname_len + " to " + max_uname_len + " characters long";
                is_valid = false;
            }
            else if (!isValidUsername(uname)){
                uname_inp.classList.add("is-invalid")
                document.getElementById('invalid-username-feedback').innerHTML = "Can only contain alphanumeric characters and underscore (_)";
                is_valid = false;
            }
            else {
                uname_inp.classList.remove("is-invalid")
                uname_inp.classList.add("is-valid")
                document.getElementById('invalid-username-feedback').innerHTML = "";
            }

            if (!isValidEmail(email)) {
                email_inp.classList.add("is-invalid")
                document.getElementById('invalid-email-feedback').innerHTML = "Please enter a valid email address"    
                is_valid = false;
            }
            else {
                email_inp.classList.remove("is-invalid")
                email_inp.classList.add("is-valid")
                document.getElementById('invalid-email-feedback').innerHTML = "";
            }

            if (passwd === '') {
                passwd_inp.classList.add("is-invalid")
                document.getElementById('invalid-password-feedback').innerHTML = "Please enter a password";
                is_valid = false;
            }
            else if (passwd.length < min_passwd_len) {
                passwd_inp.classList.add("is-invalid")
                document.getElementById('invalid-password-feedback').innerHTML = "Must be at least " + min_passwd_len + " characters long";
                is_valid = false;
            }
            else {
                passwd_inp.classList.remove("is-invalid")
                passwd_inp.classList.add("is-valid")
                document.getElementById('invalid-password-feedback').innerHTML = "";
            }

            if (confirm_passwd === '') {
                confirm_passwd_inp.classList.add("is-invalid")
                document.getElementById('invalid-confirm-password-feedback').innerHTML = "Please enter password for confirmation";
                is_valid = false;
            }
            else if (confirm_passwd.length < min_passwd_len) {
                confirm_passwd_inp.classList.add("is-invalid")
                document.getElementById('invalid-confirm-password-feedback').innerHTML = "Must be at least " + min_passwd_len + " characters long";
                is_valid = false;
            }
            else if (passwd !== confirm_passwd) {
                confirm_passwd_inp.classList.add("is-invalid")
                document.getElementById('invalid-confirm-password-feedback').innerHTML = "Passwords don't match. Please try again";
                is_valid = false;
            }
            else {
                confirm_passwd_inp.classList.remove("is-invalid")
                confirm_passwd_inp.classList.add("is-valid")
                document.getElementById('invalid-confirm-password-feedback').innerHTML = "";
            }

            if (!is_valid){
                submit_btn.disabled = false;
                submit_btn.textContent = "Submit"
                return;
            }

            const registerFormData = new FormData(document.getElementById('registerForm'))

            fetch('/register', {
                method: "POST",
                body: registerFormData,
            })
            .then(response => response.json().then(data => ({ status: response.status, body: data })))
            .then(({ status, body }) => {
                if (status === 409){
                    if (body.error === 'Username already exists'){
                        uname_inp.classList.add("is-invalid")
                        document.getElementById('invalid-username-feedback').innerHTML = "Username already exists"
                    }
                    else if (body.error === 'Email already exists'){
                        email_inp.classList.add("is-invalid")
                        document.getElementById('invalid-email-feedback').innerHTML = "Email address already exists"
                    }
                }
                else if (status === 201) {
                    uname_inp.classList.remove("is-invalid")
                    uname_inp.classList.add("is-valid")
                    document.getElementById('invalid-username-feedback').innerHTML = ""

                    email_inp.classList.remove("is-invalid")
                    email_inp.classList.add("is-valid")
                    document.getElementById('invalid-email-feedback').innerHTML = ""

                    window.location.href = '/';
                }
                else {
                    alert("Unexpected Error occured");
                    console.error('Unexpected error:', body);
                }

                submit_btn.disabled = false;
                submit_btn.textContent = "Submit";
                
            })

        }


        // Generated using ChatGPT
        function isValidEmail(email) {
            const re = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;
            return re.test(email);
        }

        // Generated using ChatGPT
        function isValidUsername(uname) {
            const re = /^[a-zA-Z0-9_]+$/;
            return re.test(uname);
        }

        // took help from ChatGPT
        function managePasswdVisibilityToggle(toggleBtnId, passwdInpId){
            document.addEventListener('DOMContentLoaded', (event) => {
            const togglePassword = document.getElementById(toggleBtnId);
            const password = document.getElementById(passwdInpId);
            const icon = togglePassword.querySelector('i');

            togglePassword.addEventListener('click', () => {
                // Toggle the type attribute using getAttribute() method
                const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
                password.setAttribute('type', type);

                // Toggle the icon
                icon.classList.toggle('bi-eye-slash');
                icon.classList.toggle('bi-eye');
                });
            });
        }

        managePasswdVisibilityToggle("togglePassword", "password")
        managePasswdVisibilityToggle("toggleConfirmPassword", "confirm_password")

    </script>
    <div class="container d-flex justify-content-center align-items-center min-vh-100">
        <div class="row border rounded-5 p-3 bg-white shadow box-area">
            <div class="col-md-6 d-flex justify-content-center align-items-center flex-column left-box">
                <div class="featured_img" style="object-fit: contain;">
                    <img src="../static/images/entry page graphic register.png" class="img-fluid" style="width: 100%; height: 100%; border-radius: 10px;">
                </div>
            </div>
            <div class="col-md-6 col-12 right-box">
                <div class="row justify-content-center align-items-center">
                    <img src="../static/images/PrepPilot poster.png" class="img-fluid" style="width: 35%; margin-top: 1%;">
                
                <form id = "registerForm" style="margin-top: 5%;" method="POST">
                    <div class="mb-3">
                      <input type="email" class="form-control" id="email" name="email" placeholder="Email address">
                      <div class="invalid-feedback" id="invalid-email-feedback"></div>
                    </div>

                    <div class="mb-3">
                        <input class="form-control" id="username" name = "username" placeholder="Username">
                        <div class="invalid-feedback" id="invalid-username-feedback"></div>
                      </div>
                      
                    <div class="input-group mb-3">
                      <input type="password" class="form-control" id="password" name="password" placeholder="Password" aria-describedby="togglePassword">
                      <button class="btn btn-outline-secondary secondary-col-1" type="button" id="togglePassword">
                        <i class="bi bi-eye-slash"></i>
                      </button>
                      <div class="invalid-feedback" id="invalid-password-feedback"></div>
                    </div>

                    <div class="input-group mb-3">
                        <input type="password" class="form-control" id="confirm_password" name = "confirm_password" placeholder="Confirm Password" aria-describedby="toggleConfirmPassword">
                        <button class="btn btn-outline-secondary secondary-col-1" type="button" id="toggleConfirmPassword">
                            <i class="bi bi-eye-slash"></i>
                        </button>
                        <div class="invalid-feedback" id="invalid-confirm-password-feedback"></div>
                      </div>

                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" id = "is_admin" name = "is_admin">
                        <label class="form-check-label" for="flexCheckDefault">
                          Register as Admin
                        </label>
                      </div>

                    <button type="button" id = "submit" onclick="validateAndSubmitForm();" class="btn btn-primary secondary-col-1" style="width: 100%; margin-top: 6%;">
                        Submit
                    </button>
                  </form>

                  <p style="margin-top: 3%;">Already have an account? <a href="/login">Sign in here.</a></p>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>    