<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Register</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" type = "text/css" href = "../static/style/style_base.css">
    <link rel="stylesheet" type = "text/css" href = "../static/style/style_register_and_login.css">
    
    <link rel="apple-touch-icon" sizes="180x180" href="../static/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/images/favicon-16x16.png">
    <link rel="manifest" href="../static/images/site.webmanifest">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

</head>
  <body>
    
    <div class="container d-flex justify-content-center align-items-center min-vh-100">
        <div class="row border rounded-5 p-3 bg-white shadow box-area">
            <div class="col-md-6 d-flex justify-content-center align-items-center flex-column left-box">
                <div class="featured_img" style="object-fit: contain;">
                    <img src="../static/images/entry_page_graphic.png" class="img-fluid" style="width: 100%; height: 100%; border-radius: 10px;">
                </div>
            </div>
            <div class="col-md-6 col-12 right-box">
                <div class="row justify-content-center align-items-center">
                  <img src="../static/images/PrepPilot_poster.png" class="img-fluid mt-2" style="width: 35%;">
                  
                <form id = "registerForm" method="POST">
                  <div class="row">
                    <div class="col-12 d-flex justify-content-center fw-bold fs-5 secondary-col-1-content">
                      Register
                    </div>
                  </div>
                    <div class="mb-3 mt-3">
                      <input type="email" class="form-control" id="email" name="email" placeholder="Email address">
                      <div class="invalid-feedback" id="invalid-email-feedback"></div>
                    </div>

                    <div class="mb-3">
                        <input class="form-control" id="username" name = "username" placeholder="Username">
                        <div class="invalid-feedback" id="invalid-username-feedback"></div>
                      </div>
                      
                    <div class="input-group mb-3">
                      <input type="password" class="form-control" id="password" name="password" placeholder="Password" aria-describedby="togglePassword">
                      <button class="btn secondary-col-1" type="button" id="togglePassword" style="border-radius: 0 6px 6px 0;">
                        <i class="bi bi-eye-slash"></i>
                      </button>
                      <div class="invalid-feedback" id="invalid-password-feedback"></div>
                    </div>

                    <div class="input-group mb-3">
                        <input type="password" class="form-control" id="confirm_password" name = "confirm_password" placeholder="Confirm Password" aria-describedby="toggleConfirmPassword">
                        <button class="btn secondary-col-1" type="button" id="toggleConfirmPassword" style="border-radius: 0 6px 6px 0;">
                            <i class="bi bi-eye-slash"></i>
                        </button>
                        <div class="invalid-feedback" id="invalid-confirm-password-feedback"></div>
                      </div>

                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" id = "is_admin" name = "is_admin">
                        <label class="form-check-label" for="is_admin" style="cursor: pointer;">
                          Register as Test Author
                        </label>
                      </div>

                    <button type="submit" id = "submit" class="btn secondary-col-1" style="width: 100%; margin-top: 6%;">
                        Submit
                    </button>
                  </form>

                  <p style="margin-top: 3%;">Already have an account? <a href="/login">Sign in here.</a></p>
                </div>
            </div>
        </div>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <script src="../static/javascript/auth_util.js"> </script>
    <script src="../static/javascript/register.js"> </script>
</body>
</html>    