{% extends "base.html" %}

{% block title %}
Test Editor
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="../static/style/style_test_editor.css">
{% endblock %}

{% block main %}
<div class="container col-md-6 mt-5 mb-4">
  <h2>Test Editor</h2>
  <form id="test-edit-form" class="mt-3">
    <div class="input-group mb-2">
      <span class="input-group-text" id="test-title-span">Test title</span>
      <textarea name="test-title" id="test-title" rows="1" class="form-control" placeholder="Enter test title"
        aria-label="Test title" aria-describedby="test-title-span"></textarea>
      <div class="invalid-feedback mb-1" id="invalid-test-title"></div>
    </div>

    <textarea name="test-description" id="test-description" placeholder="Enter test description (optional)"
      class="form-control mb-2"></textarea>
    <div class="row">
      <div class="col-md-6 position-relative mb-2">
        <div class="input-group">
          <span class="input-group-text">Topic</span>
          <input type="text" name="test-subject" id="test-subject" class="form-control" placeholder="Enter topic"
            autocomplete="off" />
        </div>
        <div class="invalid-feedback mb-1" id="invalid-test-subject"></div>
        <div id="subject-dropdown" class="dropdown-menu w-100"></div>
      </div>
    </div>

    <div class="row mb-2">
      <div class="col-xl-6 mt-2">
        <label for="duration-inp-grp" class="form-label">Duration</label>
        <div class="input-group" id="test-duration-inp-grp">
          <span class="input-group-text">Hr</span>
          <input type="number" name="test-duration-hr" id="test-duration-hr" min="0" step="1" class="form-control"
            placeholder="00" oninput="checkAndLimitTimeVal(this)" onkeydown="removeNonDigit(event)" />
          <span class="input-group-text">Min.</span>
          <input type="number" name="test-duration-min" id="test-duration-min" min="0" step="1" class="form-control"
            placeholder="00" oninput="checkAndLimitTimeVal(this)" onkeydown="removeNonDigit(event)" />
          <span class="input-group-text">Sec.</span>
          <input type="number" name="test-duration-sec" id="test-duration-sec" min="0" step="1" class="form-control"
            placeholder="00" oninput="checkAndLimitTimeVal(this)" onkeydown="removeNonDigit(event)" />
        </div>
        <div class="invalid-feedback mb-1" id="invalid-test-duration"></div>
      </div>
    </div>

    <div class="row mb-2">
      <div class="col-xl-6 mt-2">
        <label for="def-marks-inp-grp" class="form-label">Default marks for new Questions</label>
        <div class="input-group">
          <span class="input-group-text">Pos.</span>
          <input type="number" name="def-marks-pos" id="def-marks-pos" min="0" step="1" class="form-control"
            placeholder="00" onkeydown="removeNonDigit(event)" oninput="handleDefMarks(this)" />
          <span class="input-group-text">Neg.</span>
          <input type="number" name="def-marks-neg" id="def-marks-neg" min="0" step="1" class="form-control"
            placeholder="00" onkeydown="removeNonDigit(event)" oninput="handleDefMarks(this)" />
        </div>
      </div>
    </div>

    <div class="mt-3" id="question-container"></div>
    <div class="row mb-3 justify-content-center">
      <div class="col-md-6">
        <button type="button" class="btn btn-primary w-100 mt-1" id="add-mcq">
          <i class="bi bi-plus-lg"></i>
          MCQ
        </button>
      </div>
      <div class="col-md-6">
        <button type="button" class="btn btn-primary w-100 mt-1" id="add-response-question">
          <i class="bi bi-plus-lg"></i>
          Response Question
        </button>
      </div>
    </div>

    <div class="row d-flex justify-content-center mb-3">
      <div class="col-12" style="width: max-content;">
        <div class="input-group">
          <span class="input-group-text">Total marks</span>
          <span class="input-group-text primary-col-2" id="tot-test-marks">00</span>
        </div>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-md-6">
        <button type="button" id="cancel_btn" class="btn primary-col-1 w-100">
          <i class="bi bi-x-lg"></i>
          Cancel
        </button>
      </div>
      <div class="col-md-6">
        <button type="submit" id="save_btn" class="btn secondary-col-1 w-100">
          <i class="bi bi-bookmark-fill"></i>
          Save Test
        </button>
      </div>
    </div>
</form>
</div>


{% block js %}
<script type="text/javascript">
  var updateTestId = '{{ update_test_id | tojson }}'
  updateTestId = Number(updateTestId)
</script>
<script src="../static/javascript/test_editor.js"> </script>
{% endblock %}

{% endblock %}